// CONTENT GLOBAL

.container {
	@include outer-container;
}

#main {
	float: left;
	width: 100%;
}

#content {
	position: relative;
	@include row;

	@include rem(padding-left, 0);

	@include media ($small-screen-up) {
		@include rem(padding-left, 55px);
	}

	@include media ($large-screen-up) {
		@include rem(padding-left, 75px);
	}

	#hashtag {
		position: absolute;
		@include rem(left, -75px);
		@include rem(top, 300px);
		z-index: 5;
		margin: 0;
		@include transform(rotate(-90deg));
		display: none;

		@include media ($medium-screen-up) {
			display: block;
		}
	}

	#slider {

		.slick-list {
			overflow: inherit;
		}

		.slides, li {

			.slide {
				position: relative;
			}
		}
	}

	.entry-meta {
		@include rem(padding, 20px 0);
		
		.posted-on, .byline, .url.fn.n {
			color: $base-font-color;

		}
	}
}

.intro {
	float: left;
	width: 100%;
	@include rem(margin-bottom, 20px);

	.img {
		@include span-columns(12);

		@include media ($medium-screen-up) {
			@include span-columns(4.5);
		}

		@include media ($large-screen-up) {
			@include span-columns(6);
		}

		img {
			display: block;
		}
	}

	.text {
		@include span-columns(12);
		position: relative;
		@include rem(padding-top, 50px);

		@include media ($medium-screen-up) {
			@include span-columns(4.5);
		}

		@include media ($large-screen-up) {
			@include span-columns(6);
		}

		h1 {
			border-bottom: 0;
			position: relative;
			@include rem(font-size, 24px);
			@include rem(margin-bottom, 15px);

			@include media ($medium-screen-up) {
				text-align: center;
				margin-left: -104.353%;
			}
		}

		hr {
			@include heading-line;

			position: relative;
			left: 0;
			margin-left: 0;
		}

		p {
			color: $base-font-color;
		}
	}
}

.slick-slider {
	//overflow-x: hidden;
}

.slick-prev, .slick-next {
	display: none !important; 

	@include media($medium-screen-up){
		display: block !important;
	}
}

// PAGE, ABOUT US, ESTILO, CONTACT

.page {

	#content {

		#slider {

			.slides, li {

				.slide {

					.caption {
						position: absolute;
						left: 0;
						width: 100%;
						max-width:	700px;
						@include rem(margin-left, 0);
						@include rem(bottom, -17px);

						@include media ($small-screen-up) {
							@include rem(margin-left, -35px);
						}

						@include media ($medium-screen-up) {
							@include rem(margin-left, -15px);
						}

						@include media ($large-screen-up) {
							@include rem(margin-left, -75px);
						}
    				}
				}
			}
		}

		.entry-content {

			.copy {

				.intro {
					@include span-columns(12);

					@include media ($medium-screen-up) {
						@include span-columns(9);
						@include rem(padding-bottom, 10px);
					}

					@include media ($large-screen-up) {
						@include span-columns(2);
						@include rem(padding-bottom, 0);
					}

					p {
						color: $base-font-color;
					}
				}

				.side {

					p {
						color: $text-color;
						@include rem(margin-top, 15px);

						@include media ($medium-screen-up) {
							margin-top: 0;
						}
					}
				}

				.content {
					@include span-columns(12);

					@include media ($medium-screen-up) {
						@include span-columns(4.5);
						
					}

					@include media ($large-screen-up) {
						@include span-columns(3);
						@include shift(3.5);
					}
				}

				.location {
					@include span-columns(12);
					@include rem(padding-top, 20px);

					@include media ($medium-screen-up) {
						@include span-columns(4.5);
						@include rem(padding-top, 110px);
					}
					
					@include media ($large-screen-up) {
						@include span-columns(2.5);
						@include rem(padding-top, 64px);
						@include shift(1);
					}

					@include media ($ipad-landscape) {
						@include rem(padding-top, 66px);
					}

					.block {
						@include rem(margin-bottom, 60px);

						&:last-child {
							margin-bottom: 0;
						}

						p {
							@include rem(font-size, 13px);
						}
					}
				}
			}
		}
	}

	.column {
		@include span-columns(1);

		@include media ($medium-screen-up) {
			@include span-columns(4.5);
		}

		@include media ($large-screen-up) {
			@include span-columns(6);
		}
	}
}

// HOMEPAGE
.home {

	#content {

		#slider {

			.slides, li {

				.slide {

					img {
						outline: none;
					}

					.caption {
						position: absolute;
						top: 20px;
						right: 20px;
						left: auto;
						bottom: auto;
						text-align: right;

						@include media($medium-screen-up) {
							top: 50px;
							right: 50px;							
						}

						p {
							font-weight: 600;
						}
    				}
				}
			}
		}

		.entry-content {

			header {
				@include span-columns(12);
				text-align: center;
				position: relative;
				@include rem(margin-bottom, 20px);
			}

			.copy {

				.column {
					float: left;
					width: 100%;

					@include media ($medium-screen-up) {
						width: 50%;
						text-align: right;
					}

					@include media ($large-screen-up) {
						
						p {
							width: 65%;
							float: right;
						}
					}
				}
			}
		}
	}
}

// ESTILO
.estilo {

	#content {

		.entry-content {
			.product_category_title, .price {
				color: $base-font-color;
			}
			.price {
				font-weight: 700;
			}

			.copy {
				@include row;

				.intro {
					@include span-columns(12);

					@include media ($large-screen-up) {
						@include span-columns(2);
					}	
				}

				.content {
					@include span-columns(12);
					margin-left: 0;

					@include media ($large-screen-up) {
						@include span-columns(9);
						@include shift(1);
					}

					.feature {
						@include span-columns(12 of 12);

						@include media ($large-screen-up) {
							@include span-columns(9 of 9);
						}
						
						.range {
							@include span-columns(12 of 12);

							@include media ($medium-screen-up) {
								@include span-columns(7 of 12);
							}

							@include media ($large-screen-up) {
								@include span-columns(6 of 9);
							}

							.intro, .products {
								@include span-columns(12 of 12);

								@include media ($medium-screen-up) {
									@include span-columns(7 of 7);
								}

								@include media ($large-screen-up) {
									@include span-columns(6 of 6);
								}
							}

							.intro {
								text-align: left;
								position: relative;

								@include media ($medium-screen-up) {
									text-align: right;
								}

								h2 {
									@include rem(margin-top, 15px);
								}

								hr {
									@include heading-line;
									@include rem(top, 60px);
									left: 0;
									margin-left: 0;
									right: auto;
									margin-bottom: 0;

									@include media ($medium-screen-up) {
										left: auto;
										margin-left: 0;
										right: 0;
										margin-bottom: 0;
									}
								}

								p {
									@include rem(padding-top, 18px);
								}

								.cta {
									@include rem(font-size, 18px);
									color: $base-font-color;
									
								}
							}

							.product {
								@include span-columns(6 of 12);
								@include rem(margin-bottom, 20px);
								
								@include media ($large-screen-up) {
									@include span-columns(3.5 of 7);
								}
									

								@include media ($large-screen-up) {
									@include span-columns(3 of 6);
									margin-bottom: 0;
								}
							}
						}

						.img {
							@include span-columns(12 of 12);

							@include media ($medium-screen-up) {
								@include span-columns(5 of 12);
							}

							@include media ($large-screen-up) {
								@include span-columns(3 of 9);
							}
						}
					}
				}

				&.source-copy {
					@include rem(margin-top, 100px);

					.content {
						@include span-columns(12);
						@include shift(0);
					}

					.source {
						@include span-columns(12 of 12);
						
						.range {
							@include span-columns(12 of 12);

							@include media ($medium-screen-up) {
								@include span-columns(7 of 12);
							}

							@include media ($large-screen-up) {
								@include span-columns(4 of 12);
								@include rem(padding-top, 20px);
							}

							.intro, .products {
								@include span-columns(12 of 12);

								@include media ($medium-screen-up) {
									@include span-columns(7 of 7);
								}

								@include media ($large-screen-up) {
									@include span-columns(4 of 4);
								}
							}

							.intro {
								text-align: left;
								position: relative;

								h2 {
									@include rem(margin-top, 3px);
								}

								hr {
									@include heading-line;

									left: auto;
									margin-left: 0;
									left: 0;
									margin-bottom: 0;
									@include rem(top, 49px);

								}

								p {
									@include rem(padding-top, 18px);
								}

								.cta {
									@include rem(font-size, 18px);
									border-bottom: 1px solid $base-font-color;
									display: inline-block;
									@include rem(padding-bottom, 3px);
									@include rem(padding-top, 26px);
									@include rem(margin-bottom, 20px);
								}
							}

							.product {
								@include span-columns(6 of 12);
								@include rem(margin-bottom, 20px);

								@include media ($medium-screen-up) {
									@include span-columns(3.5 of 7);
								}

								@include media ($large-screen-up) {
									@include span-columns(2 of 4);
								}
							}
						}

						.img {
							position: relative;
							@include span-columns(12 of 12);

							@include media ($medium-screen-up) {
								@include span-columns(5 of 12);
							}

							@include media ($large-screen-up) {
								@include span-columns(8 of 12);
							}
						}

						.overlay {
							position: absolute;
							background-image: url('assets/play.svg');
							background-position: center;
							background-size: 46px;
							background-repeat: no-repeat;
							z-index: 10;
							top: 0;
							width: 100%;
							height: 100%;
						}

						.video {
							position: absolute;
							top: 0;
							width: 100%;
							height: 100%;
							overflow: hidden;
							opacity: 0;
						}
					}
				}
			}
		}
	}
}

// INSPIRATION

.inspiration {

	#inspiration-content {

		.row {
			@include row;
			@include rem(margin-bottom, 20px);

			@include media ($large-screen-up) {
				margin-bottom: 2.1276595745%;
			}

			.feat-img {
				@include span-columns(12);

				@include media ($medium-screen-up) {
					@include span-columns(4.5);
				}

				@include media ($large-screen-up) {
					@include span-columns(6);
				}
				
			}

			.content {
				@include span-columns(12);
				position: relative;

				@include media ($medium-screen-up) {
					@include span-columns(4.5);
				}

				@include media ($large-screen-up) {
					@include span-columns(6);
				}
				
				.copy {
					@include rem(padding-top, 20px);

					@include media ($large-screen-up) {
						@include rem(padding-top, 30px);
						@include rem(padding-bottom, 30px);
					}

					p {
						color: $base-font-color;
					}

					hr {
						@include heading-line;

						position: relative;
						left: 0;
						margin-left: 0;
					}

				}

				.inspire {
					display: none;

					/*@include media ($medium-screen-up) {
						width: 75%;
						position: absolute;
						bottom: 0;
						display: block;
					}*/

					@include media ($ipad-landscape) {
						width: 75%;
						position: absolute;
						bottom: 0;
						display: block;
					}

					@include media ($large-screen-up) {
						width: 100%;
						position: absolute;
						bottom: 0;
						display: block;
					}

					header {
						@include span-columns(3 of 6);
						color: $base-font-color;
					}

					.img {
						@include span-columns(3 of 6);
					}
				}
			}

			&:nth-child(even) {

				.feat-img {
					float: right;
				}

				.content {

					.copy {
						bottom: 0;
						text-align: left;
						padding-bottom: 0;

						@include media ($large-screen-up) {
							position: absolute;
							text-align: right;
						}

						hr {
							left: auto;
							right: 0;
							display: inline-block;							
						}
					}

					.inspire {
						display: none;
						position: relative;
						bottom: auto;

						@include media ($ipad-landscape) {
							display: block;
							left: 25%;
						}

						@include media ($large-screen-up) {
							display: block;
							left: 0%;
						}

						header {
							text-align: right;
							color: $base-font-color;
						}
					}
				}
			}
		}
	}

	#inspiration-products {

		.product_category_title, .price {
			color: $base-font-color;
		}
		.price {
			font-weight: 700;
		}

		.row {
			@include row;

			.product {
				@include span-columns(6);
				@include rem(margin-bottom, 20px);

				@include media ($medium-screen-up) {
					@include span-columns(4.5);
					@include omega(2n);
					margin-bottom: 0;
				}

				@include media ($large-screen-up) {
					@include span-columns(6);
				}

				header {
					display: none;

					@include media ($medium-screen-up) {
						display: block;
						@include span-columns(3 of 6);
						text-align: right;
						color: $base-font-color;
					}

				}

				.img {
					@include span-columns(6 of 6);

					@include media ($medium-screen-up) {
						@include span-columns(3 of 6);
					}

					img {
						width: 100%;
					}
				}

				&:nth-child(even) {
					
					header {
						text-align: left;
					}
				}
			}
		}
	}

	.hentry {
		@include row;
		@include rem(padding-top, 60px);
		@include span-columns(12);

		@include media ($medium-screen-up) {
			@include span-columns(5);
			@include shift(2);
		}

		@include media ($large-screen-up) {
			@include span-columns(6);
			@include shift(3);
		}

		.final {
			p {
				color: $base-font-color;
			}
		}
	}
}

// NEWS

.news {

	#news-intro {
		@include row;

		.img {
			@include span-columns(12);

			@include media ($medium-screen-up) {
				@include span-columns(4.5);
			}

			@include media ($large-screen-up) {
				@include span-columns(6);
			}
		}

		.tweet {
			@include span-columns(12);
			@include rem(margin-top, 15px);

			@include media ($medium-screen-up) {
				@include span-columns(4.5);
				margin-top: 0;
			}

			@include media ($large-screen-up) {
				@include span-columns(6);
			}

			.helper {
				display: table;
				height: 100%;

				.cell {
					display: table-cell;
					height: 100%;
					vertical-align: middle;						
				}

				#tweets {
					text-align: center;

					.fa {
						@include rem(font-size, 27px);
						color: #BCBEC0;

						@include media ($large-screen-up) {
							@include rem(font-size, 47px);
						}
					}

					ul.tweets {
						width: 95%;
						margin: 0 auto;
						@include rem(font-size, 17px);
						font-weight: 600;

						@include media ($large-screen-up) {
							width: 60%;
							@include rem(font-size, 23px);
						}
					}
					
					.stt-em a {
						color: #BCBEC0;
						@include rem(font-size, 16px);
						font-weight: 400;
						font-style: normal;
						line-height: normal;
						margin-top: 20px;
						display: inline-block;
					}

					.intent-meta a span:before {
						@include rem(font-size, 21px);
						color: #D1D3D4;
					}
				}
			}
		}
	}

	#news-stories {
		@include row;
		margin-top: 2.1276595745%;

		article {
			margin-bottom: 2.1276595745%;
			display: inline-table;
			width: 100%;
			
			.entry-content {
				margin: 0;

				.copy, .img {
					@include span-columns(12);

					@include media ($small-screen-up) {
						@include span-columns(1);
					}

					@include media ($medium-screen-up) {
						@include span-columns(4.5);
					}

					@include media ($large-screen-up) {
						@include span-columns(6);
					}
				}

				.copy {
					text-align: left;

					@include media ($medium-screen-up) {
						text-align: right;
					}

					.image, .date {
						@include span-columns(12 of 12);
						@include omega;
						float: right;

						@include media ($small-screen-up) {
							@include span-columns(1 of 1);
						}

						@include media ($medium-screen-up) {
							@include span-columns(2.25 of 4.5);
							float: right;
							@include omega;
						}

						@include media ($large-screen-up) {
							@include span-columns(3 of 6);
							float: right;
							@include omega;
						}

					}

					.date {
						float: left;
						@include rem(margin-top, 15px);

						@include media ($medium-screen-up) {
							margin-top: 0;
						}
					}

					.blurb {
						display: block;
						float: right;
						margin-top: 12%;

						p {
						color: $base-font-color;
						}
					}

					&.left {
						text-align: left;
					
						.image {
							float: left;
						}
						
						.blurb {
							float: left;
						}
					}

				}

				.img {
					display: none;
					
					@include media ($medium-screen-up) {
						display: block;
					}
				}
			}

			&:nth-child(even) {
				.entry-content .copy .date {
					float: right;
				}
			}
		}
	}
}

// CONTACT
.contact {

	#content {

		.entry-content {

			.copy {
				@include row;

				.intro {
					@include span-columns(12);

					@include media ($medium-screen-up) {
						@include span-columns(3);
					}

					@include media ($large-screen-up) {
						@include span-columns(2);
					}
				}

				.content {
					@include span-columns(12);
					margin-left: 0;
					@include rem(padding-top, 8px);

					@include media ($medium-screen-up) {
						@include span-columns(4);
						@include shift(1);
					}

					@include media ($large-screen-up) {
						@include span-columns(7);
					}
				}

				.feature {
					@include span-columns(9 of 9);
					
					.range {
						@include span-columns(6 of 9);

						.intro, .products {
							@include span-columns(6 of 6);
						}

						.intro {
							text-align: right;
							position: relative;

							hr {
								@include heading-line;

								left: auto;
								margin-left: 0;
								right: 0;
								margin-bottom: 0;
								@include rem(top, 50px);
							}

							.cta {
								@include rem(font-size, 18px);
								color: $base-font-color;
							}
						}

						.product {
							@include span-columns(3 of 6);
						}
					}

					.img {
						@include span-columns(3 of 9);
					}
				}

				&.source-copy {
					@include rem(margin-top, 60px);

					.content {
						@include span-columns(12);
						@include shift(0);
					}

					.source {
						@include span-columns(12 of 12);
						
						.range {
							@include span-columns(4 of 12);
							@include rem(padding-top, 20px);

							.intro, .products {
								@include span-columns(4 of 4);
							}

							.intro {
								text-align: left;
								position: relative;

								hr {
									@include heading-line;

									left: auto;
									margin-left: 0;
									left: 0;
									margin-bottom: 0;
									@include rem(top, 50px);
								}

								.cta {
									@include rem(font-size, 18px);
									border-bottom: 1px solid black;
									display: inline-block;
									@include rem(padding-bottom, 3px);
									@include rem(margin-bottom, 20px);
									color: $base-font-color;
								}
							}

							.product {
								@include span-columns(2 of 4);
							}
						}

						.img {
							@include span-columns(8 of 12);
							position: relative;
						}

						.overlay {
							position: absolute;
							background-image: url('assets/play.svg');
							background-position: center;
							@include rem(background-size, 46px);
							background-repeat: no-repeat;
							z-index: 10;
							top: 0;
							width: 100%;
							height: 100%;
						}

						.video {
							position: absolute;
							top: 0;
							width: 100%;
							height: 100%;
							overflow: hidden;
							opacity: 0;
						}
					}
				}
			}
		}

		.enquery_wrapper {
			margin: 0;
			max-width: 100%;

			.gform_fields {
				
				.gfield {
					float: left;
					width: 100%;
				    clear: none;

					&#field_1_2 {
						margin-right: 1.3%;
					}

					&#field_1_2, &#field_1_3 {
						width: 49.3%;
					}

					.gfield_label + .ginput_container {
						margin-top: 0;
					}

					span#input_1_1_3_container {
    					padding-right: 0;
    					@include rem(margin-right, 8px);
					}

					input, textarea {
						border: 1px solid black;
						@include rem(padding, 5px);
						border-radius: 0;
						box-shadow: none;
						display: block;
						width: 100%;

						&:hover, &:focus { 
							outline: 0;
							box-shadow: none;
						}
					}

					label {
						font-family: $heading-font-family;
						line-height: 2;
						margin-top: 0;
					}

					.ginput_complex {

						span {
							width: 49.3%;
							float: left;

							label {
								display: none;
							}
						}
					}
				}
			}

			.gform_footer {
				padding: 0;
				margin-top: 20px;
				float: left;

				button, input[type="button"], input[type="reset"], input[type="submit"] {
					border-color: black;
					color: black;
					border-radius: 0;
					@include transition(all, 500ms);

					&:hover, &:focus, &:active {
						border-color: $brand-primary;
						background-color: $brand-primary;
						color: white;
					}
				}
			}
		}
		
		.gform_wrapper .gfield_required {
    		color: #D4E7D3;
    	}
	}
}

// LOGIN

#theme-my-login {
    margin: 0 auto;
}

.login, .register, .lostpassword{
	#content {
		@include rem(padding-top, 110px);

		#wp-submit {

			&:hover {
			background-color: $brand-primary;
			color: #fff;
			}

		}
	}
}


// SHOP 

.widget-area, .shop-main {
	float: left;
	width: 100%;
	display: block;
}

.woocommerce {

	.return {
		float: left;
		margin-right: 15px;

		a {
			background: #000000;
			color: white;
			text-transform: uppercase;
			font-weight: 600;
			padding: 7px 14px 7px 34px;
			display: inline-block;
			background-image: url(assets/slick/slide-prev.svg);
			background-repeat: no-repeat;
			background-size: 10px auto;
			background-position: 10px 48%;
		}
	}

	.policy {
		float: left;
		
		a {
			text-transform: uppercase;
			font-weight: 600;
			padding: 7px 0;
			margin-bottom: 13px;
			display: inline-block;
		}
	}
	
	.shop-main, .site-main {
	
		#content {
			padding-left: 0;
			@include rem(margin-top, -15px);

			.products {

				.product {

					width: 100%;

					h3 {
						font-size: 1.3em;
					}

					@include media ($medium-screen-up) {
						width: 46%;

						h3 {
							font-size: 1em;
						}
					}

					@include media ($large-screen-up) {
						width: 22.05%;
					}

					.price {

						color: $base-font-color;
						font-weight: 700;
						@include rem(font-size, 18px);

						@include media ($medium-screen-up) {
							@include rem(font-size, 16px);
						}
						
					}
				}
			}
		}
	}

	#secondary {

		.widget {

			.product-categories {

				li {
					float: left;
					margin: 0 3.8% 1em 0;
					padding: 0;
					position: relative;
					width: 100%;
					@include rem(padding-bottom, 10px);
					text-transform: uppercase;
					font-weight: 500;

					@include media ($medium-screen-up) {
						width: 22.05%;
						margin-bottom: 2em;
					}

					a {
						color: $base-font-color;
						border-bottom: 1px solid $base-font-color;
				    	display: block;
    					margin-bottom: 5px;
    					padding-bottom: 5px;
					}

					p {
						display: none;
						text-transform: none;
						font-size: 13px;
						color: $base-font-color;

						@include media($medium-screen-up) {
							display: block;
						}
					}

					&:nth-child(4n) {
						margin-right: 0;
					}
				}
			}
		}
	}
}

// SHOP - SINGLE PRODUCT

.woocommerce {

	input {
		&.button {
			background-color: transparent;
			color: $text-color;
			border-radius: 0;
			border: 1px solid;
			transition: all 300ms ease-in-out;

			&:hover {
			background-color: $brand-primary;
			color: #fff;
			}
		}
	}

 	form {
 		.form-row { 
 			input, textarea {
 				&.input-text {
					border-radius: 0;
					@include rem(padding, 7px);
					box-shadow: none;
 				}
 			}
 		}
 	}

	.site-content {

		.shop-main, .site-main {

			#container {
				margin-top: 15px;

				#content {

					.product {
						.summary {

							header  {
								position: relative;
							}

							.product_title {
								font-weight: 600;
								@include rem(font-size, 24px);
								@include rem(margin-bottom, 15px);
								@include rem(padding-bottom, 15px);
								line-height: 2.3;
								position: relative;

								@include media ($medium-screen-up) {
									text-align: center;
									margin-left: -108.5%;
								}
							}

							hr {
								@include heading-line;

								left: 0;
								margin-left: 0;
								bottom: -10px;
							}

							p, .price {
								color: $base-font-color;
							}

							.price {
								font-weight: 700;
							}

							
						}


						.cart {

							a.reset_variations {
								display: none !important;
							}

							select {
								width: 100%;
								margin: 0;
								appearance: none;
								-webkit-appearance: none;
								-moz-appearance: none;
								-ms-appearance: none;
								border-radius: 0;
								padding: 15px;
								line-height: 1;
								background: url(assets/arrow-down.svg) no-repeat scroll 97% center transparent;
								background-size: 16px auto;
							}

							.quantity {
								
								.input-text {
									border-radius: 0;
									box-shadow:0;
									@include rem(padding, 10px);
								}
							}

							.button {

								@include rem(font-size, 14px);
								text-transform: uppercase;
								@include rem(padding, 16px 20px);
								@include rem(margin-left, 15px);
								background-color: transparent;
								color: $text-color;
								border-radius: 0;
								border: 1px solid;
								transition: all 300ms ease-in-out;

								&:hover {
								background-color: $brand-primary;
								color: #fff;
								}
							}
						}
					}
				}
			}
		}
	}

	.woocommerce-message {
		border-top-color: $text-color;
		color: $text-color;

		&:before {
			color: $text-color;
		}

		.button {
			background-color: transparent;
			color: $text-color;
			@include rem(font-size, 14px);
			text-transform: uppercase;
			border-radius: 0;
			border: 1px solid;
			transition: all 300ms ease-in-out;
			@include rem(margin-left, 5px);

			&:hover {
			background-color: $brand-primary;
			color: #fff;
			}

		}
	}
}

//CART

.woocommerce-cart {

	#content {
		@include media ($medium-screen-up) {
			@include rem(padding-top, 110px);
		}

		.site-main {

			.entry-header {

				.entry-title {
					font-weight: 600;
					@include rem(font-size, 24px);
					line-height: 2.3;

					@include media ($medium-screen-up) {
						@include rem(margin-bottom, 15px);
						@include rem(padding-bottom, 15px);
					}
				}
			}

			.entry-content {

				.product-quantity {

					.quantity {

						.qty {
							margin-left: auto;
							border-radius: 0;
							box-shadow: none;

							@include media ($medium-screen-up) {
								margin-left: 0;
							}
						}
					}
				}

				.actions {

					.coupon {
						
						.input-text {
							width: 120px;
							border: 1px solid $brand-primary;
							border-radius: 0;
							line-height: 36px;
							padding: 0 10px;
							box-shadow: none;
						}
					}

					.button {
						font-size: 78%;
						padding: 1em;

						@include media ($medium-screen-up) {
							font-size: 100%;
							padding: 0.618em 1em;
						}
					}
				}

				.cart-collaterals {

					.cart_totals {

						.woocommerce-shipping-calculator {
							.button {
								background-color: transparent;
								color: $text-color;
								@include rem(font-size, 14px);
								border-radius: 0;
								border: 1px solid;
								transition: all 300ms ease-in-out;
								@include rem(margin-left, 5px);
								text-transform:	uppercase;

								&:hover {
								background-color: $brand-primary;
								color: #fff;
								}

							}
						}

						.checkout-button {
							background-color: $brand-primary;
							text-transform: uppercase;
							border-radius: 0;
							transition: all 300ms ease-in-out;

							&:hover {
							background-color: transparent;
							color: $brand-primary;
							border: 1px solid;
							}
						}
					}
				}
			}
		}
	}
}

// CHECKOUT

.woocommerce-checkout {

	#content {
		@include rem(margin-top, 120px);

				.site-main {

					.entry-title, h3 {
					font-weight: 600;
					@include rem(font-size, 24px);
					@include rem(margin-bottom, 15px);
					@include rem(padding-bottom, 15px);
					line-height: 2.3;
					}

					.woocommerce-info {
						border-top-color: $text-color;
						color: $text-color;

						&:before {
							color: $text-color;
						}
					}

					#place_order {
						text-transform: uppercase;
						background-color: transparent;
						color: $text-color;
						border-radius: 0;
						border: 1px solid;
						transition: all 300ms ease-in-out;

						&:hover {
						background-color: $brand-primary;
						color: #fff;
						
						}
					}
				}
	}
}

// CAT

.tax-product_cat {


	h2.product_category_title {
		@include rem(font-size, 24px);
		@include rem(margin-bottom, 15px);
		@include rem(padding-bottom, 15px);
		border-bottom: 1px solid #000000;
		line-height: 1;
		text-transform: uppercase;
	}

	#secondary {
		margin-top: 150px;
	}
}