#{$all-buttons} {
  appearance: none;
  background-color: $text-color;
  border: 0;
  border-radius: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: $button-font-size;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: $small-spacing $base-spacing;
  text-decoration: none;
  transition: all 300ms ease-in-out;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  text-transform: uppercase;

  &:hover,
  &:focus {
    background-color: transparent;
    color: $text-color;
    border: 1px solid;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background-color: $action-color;
    }
  }
}
