.main-navigation {
	display: block;
	float: left;
	width: auto;
    @include rem(margin-top, 31px);

	@include media ($large-screen-up) {
		width: 100%;
		@include rem(margin-top, 0);
	}

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			float: left;
			position: absolute;
			@include rem(top, 15px);
			@include rem(left, -9999px);
			z-index: 99999;

			ul {
				@include rem(left, -9999px);
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				@include rem(width, 200px);
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	
	li {
		float: left;
		position: relative;

		@include media ($medium-screen-up) {
			float: none;
			display: inline-block;
			@include rem(margin, 0 5px);
		}

		&:hover > a,
		&.focus > a {
			color: inherit;

			@include media ($large-screen-up) {
				&:after {
					opacity: 1;
				}
			}

		}

		&.cart_meniu_item {

			a:after {
				display: none;
			}

			.cart_icon {
				width: 50px;
				background-image: url(assets/basket-black.svg);
				text-indent: -9999px;
				background-size: 38px auto;
				background-repeat: no-repeat;

				display: inline-block;
				background-position: center;

				@include media ($large-screen-up) {
					background-image: url(assets/basket.svg);
					width: 28px;
					background-size: 24px auto;
					background-repeat: no-repeat;
					background-position: 0 48%;
				}
			}
			
			.cart_contents {
				display: inline-block;
				border-radius: 50%;
				position: relative;
				background: #000;
				color: white;
				width: 48px;

				@include media ($large-screen-up) {
					position: absolute;
					background: #C7E5CC;
					color: black;
					width: 36px;
					padding: 5px;
					top: -5px;
					right: -36px;
				}
			}
		}

	}
	a {
		display: block;
		text-decoration: none;
		font-weight: 600;
		text-transform: uppercase;
		position: relative;

		@include media ($large-screen-up) {
			&:after {
				content: " ";
				border-bottom: 1px solid $link-color;
				@include rem(width, 50px);
				position: absolute;
				left: 50%;
				top: 50%;
				opacity: 0;
				@include rem(margin-left, -25px);
				@include rem(margin-top, 0.5px);
				@include transform(rotate(-45deg));
				@include transition(opacity 300ms ease-in-out);
			}
		}
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
		color: black;

		@include media ($large-screen-up) {
			color: $link-color;
		}

		@include media ($large-screen-up) {
			&:after {
				opacity: 1;
			}
		}

	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

.toggled {

	.menu-main-container {
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		background: $mintgreen;
		width: 100vw;
		height: 100vh;
		z-index: 10;

		ul {
			position: absolute;
			top: 10%;
			left: 50%;
			max-width: 320px;
			margin-left: -160px;
			text-align: center;

			li {
				width: 100%;
				width: 100%;
				margin: 0;
				font-size: 24px;
				line-height: 2;

				a {
					color: black;
				}
			}

			.current_page_item > a,
			.current-menu-item > a,
			.current_page_ancestor > a,
			.current-menu-ancestor > a {
				text-decoration: underline;
			}
		}
	}
}

.icon {
	cursor: pointer;
	display: inline-block;
	font-size: setting(font-size);
	@include rem(height, 30px);
	z-index: 12;
	float: right;
	position: relative;
	user-select: none;
	transition: setting(transition-duration) setting(timing-function);
	@include rem(width, 40px);
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	border: 0;
	background: transparent;
	outline: none;

	&:hover, &:focus, &:active {
		border: 0;
		outline: none;
		background: transparent;
	}

	span {
		background: setting(color);
		backface-visibility: hidden;
		@include rem(height, 4px);
		position: absolute;
		transition: setting(transition-duration) setting(timing-function);
		width: 100%;   
		-webkit-tap-highlight-color: rgba(0,0,0,0);
	}
}

.menu5 {
	@extend .icon;

	span {
		width: 100%;

		&:nth-child(1) {
			left: 0;
			top: 0;
		}

		&:nth-child(2){
			right: 0;
			@include rem(top, 10px);
			width: 50%;
		}  

		&:nth-child(3) {
			left: 0;
			@include rem(top, 10px);
			width: 50%;
		}

		&:nth-child(4) {
			left: 0;
			@include rem(top, 20px);
		}  
	}

	&.open span{
		color: black;
		background-color: black;
		
		&:nth-child(1) {
			opacity: 0; 
		}

		&:nth-child(2){
			border-radius: setting(border-radius);
			transform: rotate(45deg);
			width: 100%;
		}  

		&:nth-child(3) {
			border-radius: setting(border-radius);
			transform: rotate(-45deg);
			width: 100%;
		}

		&:nth-child(4) {
			opacity: 0 
		}    
	}
}

@include media ($large-screen-up) {

	.toggled {

		.menu-main-container {

			ul {

			}
		}
	}
}

@include media ($large-screen-up) {

	.menu-toggle {
		display: none;
	}
	
	.main-navigation ul {
		display: block;

		@include media ($medium-screen-up) {
			text-align: center;
		}
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		@include rem(margin, 0 0 15px);
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
